include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include chatterbox/templates *
recursive-include chatterbox/static *
recursive-include requirements *.txt
