<div class="grp-row grp-cells-1">
    <div class="l-2c-fluid l-d-4">
        <div class="c-1">
            <label class="required" for="id_service_key">Service</label>
        </div>
        <div class="c-2 service"></div>
    </div>
</div>
<div class="grp-row grp-cells-1">
    <div class="l-2c-fluid l-d-4">
        <div class="c-1">
            <label class="required" for="id_collector_id">Collector</label>
        </div>
        <div class="c-2 collector"></div>
    </div>
</div>
<div class="grp-row grp-cells-1">
    <div class="l-2c-fluid l-d-4">
        <div class="c-1">
            <label class="required" for="id_key_id">Key</label>
        </div>
        <div class="c-2 key"></div>
    </div>
</div>
<div class="grp-row grp-cells-1">
    <div class="l-2c-fluid l-d-4">
        <div class="c-1">
            <label class="required" for="id_data"></label>
        </div>
        <div class="c-2 collector-form"></div>
    </div>
</div>

